
<div class="container">
  <br>
  <h2>Drink Menu</h2>
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-12">
  
          <div class="drinks" *ngIf="drinksList">
            <table class="table table-striped">

            <thead>
              <tr class="h">
                <th class="h">Type</th>
                <th class="h">Flavor</th>
                <th class="h">Brand</th>
              </tr>
            </thead>

            <tbody>
              <tr class="drink" *ngFor="let drink of drinksList">             
                <td>{{drink.type}}</td>
                <td>{{drink.flavor}}</td>
                <td>{{drink.brand}}</td>      
              </tr>
            </tbody>
            </table>
        </div>
      </div>
  </div>
</div>