<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to Latori's Drink App!</h1>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="drinks" *ngIf="drinksList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Type</th>
            <th class="h">Flavor</th>
            <th class="h">Brand</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          
          <tr class="drink" (dblclick)="editDrink(drink)" *ngFor="let todo of drinksList">

            <td>{{drink.type}}</td>
              <td>{{drink.flavor}}</td>
              <td>{{drink.brand}}</td>
              <td>{{todo.status}}</td>
            
            <td>
              <button class="btn btn-success" (click)="doneDrink(drink)">
                <i  class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="editDrink(drink)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteDrink(drink)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">

        <div class="col-md-3">
          <input type="text" name="type" id="type" [(ngModel)]="newDrink.type" placeholder="Type" class="form-control">
        </div>
        <div class="col-md-3">
          <input name="flavor" id="flavor" [(ngModel)]="newDrink.flavor" placeholder="Flavor" class="form-control"
            id="flavor">
        </div>
        <div class="col-md-3">
          <input name="brand" id="brand" [(ngModel)]="newDrink.brand" placeholder="Brand" class="form-control"
            id="brand">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="drinks" *ngIf="drinksList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Type</th>
            <th class="h">Flavor</th>
            <th class="h">Brand</th>
            <th class="h">Status</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="drink" (dblclick)="editDrink(drink)" *ngFor="let drink of drinksList">

            <ng-container *ngIf="!editDrinks.includes(drink); else editDL">
              <td>{{drink.type}}</td>
              <td>{{drink.flavor}}</td>
              <td>{{drink.brand}}</td>
              
              <td>{{drink.status}}</td>
            </ng-container>

            <ng-template #editDL>
                <td><input type="text" name="type" id="type" (keypress)="submitDrink($event, drink)" [(ngModel)]="drink.type" placeholder="Type" class="form-control"></td>
                <td><input type="text" name="flavor" id="flavor" (keypress)="submitDrink($event, drink)" [(ngModel)]="drink.flavor" placeholder="Flavor"
                    class="form-control"></td>
                
                <td>
                  <input type="text" name="status" id="status" (keypress)="submitDrink($event, drink)" [(ngModel)]="drink.status" placeholder="Status" class="form-control">
                </td>
            </ng-template>

            <td class="o">
              <button class="btn btn-success" (click)="doneDrink(drink)">
                <i  class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="editDrink(drink)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteDrink(drink)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <!-- <form>
      <div class="form-row">

        <div class="col-md-3">
          <input type="text" name="type" id="type" [(ngModel)]="newDrink.type" placeholder="Type" class="form-control">
        </div>
        <div class="col-md-3">
          <input name="flavor" id="flavor" [(ngModel)]="newDrink.flavor" placeholder="Flavor" class="form-control"
            id="flavor">
        </div>
        <div class="col-md-3">
          <input name="brand" id="brand" [(ngModel)]="newDrink.brand" placeholder="Brand" class="form-control"
            id="flavor">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form> -->
  </div>
  <div class="col-md-2">
    
  </div>
</div>









  <router-outlet></router-outlet>

